body{
    font-family: 'Lato', sans-serif; 
    margin: 0%;
}
.flexible-container{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5px;

}
#Anu{text-align: justify;
font-size: larger;
font-style: italic;
font-family: Georgia, 'Times New Roman', Times, serif;}

.half-width img{width:80%;}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(red, orange);
    padding: 10px 35px;
    border-radius: 5px;
    font-size: large;
    font-weight: 500;

}
.background-banner{
    background-image: url(secound.png);
    background-repeat: no-repeat;
    padding-left: 10px;
    
}

.about-me{
    background-image: url(fourth.jpg);
    margin-top: 15px;
    margin-bottom: 15px;
}
#menu{color: maroon;
font-weight: 600;
font-style: initial;}

.width{ width:100%;}
.width img{width: 80%;}




